<div>
  <div class="page-header">File Text Search</div>
  <div class="page-content">
    <div class="flexbox">
      <div class="left-col">
        <app-uploadfile (getFileContent)="setFileContent($event)" (checkFileContent)="checkFileContent($event)"
          (getFileName)="setFileName($event)"></app-uploadfile>
      </div>
      <div class="right-col">
        <app-searchfilecontent [fileContent]="fileContent" [uploadedFileName]="uploadedFileName"
          [validFileContent]="validFileContent">
        </app-searchfilecontent>
      </div>
    </div>
  </div>
</div>