<div>
    <div>
        <input type="text" [disabled]="!uploadedFileName" class="search-text-input" (input)="searchTextFunc()"
            placeholder="Search text..." [(ngModel)]="searchText">
        <div class="occurences">
            Total No of occurrences of search string : <span>{{noOfOccurrence}}</span>
        </div>
    </div>
    <div class="file-content-card">
        <div class="content-hdr">Contents of the uploaded text file</div>
        <div class="file-content-div" [ngClass]="{'empty-msg': !uploadedFileName ,'invalid-msg': !validFileContent}"
            [innerHTML]="fileContent">
        </div>
    </div>
</div>